In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
park = gpd.read_file('3_3_parking_space.geojson')

In [3]:
park.columns

Index(['OBJECTID', 'BLOCKID', 'ROWNBR', 'BLOCK_ST', 'BLOCK_END', 'WIDTH_OFFS',
       'GEOBASYS', 'SPACELENGT', 'SPACETYPE', 'SPACETYPED', 'TIME_LIMIT',
       'SPACE_NB', 'CATEGORY', 'SIDE', 'CURRENT_ST', 'ELMNTKEY', 'SHAPE_Leng',
       'geometry'],
      dtype='object')

In [4]:
park.SPACETYPE.unique()

array(['ALLEY', 'PS', 'CLR', 'PLZ', 'PS-CAR', 'CRBBLB', 'NP', 'CVLZ',
       'BA', 'XWAREA', 'XW', 'HYD', 'CR', 'TAZ', 'PS-PLZ', 'BUS',
       'PS-TAX', 'BIKE', 'PS-LAY', 'PS-MC', 'DW', 'CVLZ-B', 'CVLZ-P',
       'PS-SBO', 'PARKLET', 'L/UL', 'BUSLAY', 'PS-TR'], dtype=object)

In [5]:
park.SPACETYPED.unique()

array(['ALLEY', 'PAY STATION', 'CLEARANCE', 'PASSENGER LOAD ZONE',
       'PAY STATION - CARPOOL', 'CURB BULB', 'NO PARKING',
       'COMMERCIAL VEHICLE LOAD ZONE', 'BARRIER AREA',
       'NOT A DESIGNATED CROSSWALK', 'CROSSWALK', 'HYDRANT', 'CURB RAMP',
       'TOW AWAY ZONE', 'PAY STATION - PLZ', 'BUS ZONE',
       'PAY STATION - TAXI', 'BIKE ZONE', 'PAY STATION - BUS LAYOVER',
       'PAY STATION - MOTORCYCLE', 'DRIVEWAY', 'CVLZ - BUS ZONE',
       'CVLZ - PLZ', 'PAY STATION - SHUTTLE BUS ONLY', 'PARKLET',
       'LOAD/UNLOAD ZONE', 'BUS LAYOVER ZONE',
       'PAY STATION - TEMP REMOVAL'], dtype=object)

In [6]:
# select parking space types
# original: PLZ, L/UL, CVLZ, PS and PS-X
park = park[park['SPACETYPE'].isin(['PLZ', 'L/UL',
                                  'CVLZ', 'CVLZ-B', 'CVLZ-P',
                                  'PS', 'PS-CAR', 'PS_PLZ', 'PS-TAX', 'PS-LAY', 'PS-SBO'])]

In [7]:
# filter out links that are not in the 3*3 blocks
park = park[park['BLOCKID'].apply(lambda x: x.endswith(tuple(['24','25','26','01','02','03'])))]

In [8]:
park.replace(to_replace=r'^PS-\w+', value='PS', regex=True, inplace=True)

In [9]:
# count and length of parking
pc = park.groupby(['BLOCKID', 'SIDE', 'SPACETYPE']).agg({'SPACELENGT': 'sum', 'OBJECTID': 'count'}).reset_index()
# pc.rename(columns={'SPACELENGT': 'length', 0:'cnt'}, inplace=True)

In [10]:
pc

   BLOCKID SIDE SPACETYPE  SPACELENGT  OBJECTID
0    01-24   NE      CVLZ          23         1
1    01-24   NE       PLZ          22         1
2    01-24   NE        PS         143         8
3    01-24   SW       PLZ          38         2
4    01-24   SW        PS          58         3
..     ...  ...       ...         ...       ...
75   27-02   SE        PS          88         5
76   27-03   NW      CVLZ          18         1
77   27-03   NW       PLZ          18         1
78   27-03   NW        PS         119         7
79   27-03   SE        PS         142         8

[80 rows x 5 columns]

In [11]:
pc.columns = ['block_id', 'side', 'type', 'length', 'cnt']

In [12]:
pc.head()

  block_id side  type  length  cnt
0    01-24   NE  CVLZ      23    1
1    01-24   NE   PLZ      22    1
2    01-24   NE    PS     143    8
3    01-24   SW   PLZ      38    2
4    01-24   SW    PS      58    3

In [13]:
pc.to_csv('parking_space_count.csv')

In [14]:
pc.type.unique()

array(['CVLZ', 'PLZ', 'PS', 'CVLZ-P', 'CVLZ-B', 'L/UL'], dtype=object)